* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: black;
    background-color: #ffffff;
}

.googleLogo img{
    height: 30px;
    width: 92px;
    position: absolute;
    margin-top: 20px;
    margin-left:20px;
}

.searchForm{
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    height: 39px;
    width: 630px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}

.search{

}